SRV records cannot not be IPs

I think it's technically valid but doesn't work. Figure attempting to parse the record (minus the trailing dot) with the [ipaddress](https://docs.python.org/3/library/ipaddress.html) module is probably a good check to see if an IP was passed in.

This comes from me adding a Minecraft SRV record and not realizing I had to add another DNS record: :sweat_smile: 

```yaml
_minecraft._tcp.mc:
  - type: SRV
    value:
      weight: 0
      priority: 5
      port: 25565
      target: 1.2.3.4.
```

Quick test w/NS1 does show they allow IP addrs so that probably does make sense to allow it, though who knows if some providers reject it.

```console
coho:~ ross$ dig +short SRV _tcp._foo.exxampled.com. @dns1.p07.nsone.net.
1 1 67 1.2.3.4.
1 1 67 ff00:42.
```

Indeed, PowerDNS allows it as well. Returns the IP as expected. But minecraft doesn't work with that setup. So it seems some clients work and some don't. And [RFC2782](https://datatracker.ietf.org/doc/html/rfc2782) says this about the target field:

> Target
>        The domain name of the target host.  **There MUST be one or more
>        address records** for this name, the name MUST NOT be an alias (in
>        the sense of [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) or [RFC 2181](https://datatracker.ietf.org/doc/html/rfc2181)).  Implementors are urged, but
>        not required, to return the address record(s) in the Additional
>        Data section.  Unless and until permitted by future standards
>        action, name compression is not to be used for this field.
>
>        A Target of "." means that the service is decidedly not
>        available at this domain.

(emphasis mine) - "address records" definitely suggests the expectation is that the client will go on to do a second lookup (A/AAAA).

If I understand correctly, here's the situation:

- Some DNS providers will accept SRV records with IP addresses as the target
- Some DNS providers (the same set?) will respond to SRV requests with the IP in the response
- Some client software expects to do a 2nd name lookup and fails when the SRV response includes an IP
- Everything works and knows how to work with FQDNs rather than IPs.

Which suggests that this sort of validity check is useful, but maybe opt-out if someone knows what they're doing? I think a default of allowing it might provide more surprise than not. But that's possibly a breaking change, so hm...

Oh, wait the RFC spells out what it means by address record:

> Note that where this document refers to "address records", it means A RR's, AAAA RR's, or their most modern equivalent.

So my interpretation is wrong. I guess this is mostly a Minecraft bug. It might be useful as a 3rd-party plugin for some folks, but probably doesn't make sense to be in core OctoDNS.

After reading the bits you quoted and seeing that providers will allow them, it seems like it might make sense to have them be octoDNS validation errors, but let users get around them (as normal) with `lenient=True` that way if they have existing records with IPs for whatever reason it would be possible to bring them under management (while indicating it's probably not a great idea and should be converted to SRV with A/AAAA.)